#mainDiv {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: transparent;

}


.car-build__main {
  // width: 100%;
  // height: 60vh;
  // position: relative;
  margin-top: 3rem;
  // background-color: white;
  // z-index: 99;


  &-car-title {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 1;
    font-size: 3rem;
    transition: .2s;
    font-family: 'Kanit', sans-serif;
    z-index: 101;

    &:before {
      content: 'toyota ';
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
  &-car-price {
    position: absolute;
    top: 25%;
    right: 15%;
    z-index: 1;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    transition: .2s;
    z-index: 106;
  }
  &-car-starting {
    position: absolute;
    top: 26%;
    right: 11%;
    z-index: 100;
    font-size: .6rem;
    text-transform: uppercase;
    font-style: italic;
    transition: .2s;

  }
  // &-car-image {
  //   position: absolute;
  //   top: 40%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
    // // display: block;
    // // margin: 0 auto;



  // }

  &--left {
    position: absolute;
    top: 50%;
    left: 15%;

  }
  &--right {
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 9;
    width: 2rem;
  }
}



// .one {
//   opacity: 0;
//   transition: opacity 1  2s ease-in;
// }







// .cargif img{
//   position: relative;
// width: 30%;
// animation: moveCar 2s;
// animation-fill-mode: forwards;
// animation-iteration-count: infinite;

// }

// @keyframes moveCar {
//   0% {left: -5%;}
//   100% {left: 120%;}
// }
