

.transition1 {
  position: fixed;
  top: 7%;
  left: 60%;
  left: 60%;
  width: 20%;
  transition: .2s;
  z-index: 100;
}


.titleTransition {
  position: fixed;
  top: 7%;
  left: 15%;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100;
}
.priceTransition {
  position: fixed;
  top: 7%;
  right: 15%;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100;
}

.carButtonRotateRightHide {
  display: none;
}

.vehicleCart{
  position: fixed;
  top: 5%;
  left: 1%;
  margin-top: 2rem;
  font-weight: bold;
  font-family: 'arial';
  font-size: .7rem;
  transition: .2s;
  z-index: 100;
}

.panel{
  position: fixed;
  width: 100%;
  top: 30%;
  display: flex;
  justify-content: center;
  background-color: rgb(44, 41, 41);
  border-style: transparent;
  border-color: rgb(245, 238, 238);
  padding: 0 10%;
  transition: .2s;
  z-index: 100;
}

.test {
  background-color: white;
  width: 100%;
  height: 20rem;
  position: fixed;
  top: 0;
}

.buildMain {
  width: 100%;
  height: 40vh;
  position: relative;
  margin-top: 5rem;
  background-color: red;
  z-index: 99;
}