#footerBottom {
  position: relative;
}


.footer {
  position: absolute;
  top: 100%;
  margin-top: 4rem;
  left: 0;
  z-index: 200;
  height: 5rem;
  width: 100%;
  background-color: rgb(155, 11, 11);
  color:rgb(247, 241, 241);
  display:flex;
  align-items:center;
  justify-content:center;
}

